/* #header, #hero, #gallery, #footer genişlikleri 750px olmalı */

/* #menu bir <nav> olmalı */
/* #menu içindeki linklerin arka plan rengi: #777 */
/* #menu linklerine hover yapıldığında arka plan rengi: #000 */
/* #menu linklerinin padding değeri: 20px */

/* #footer butonu metni 'Başa dön' olmalı */

body{
    margin-left:auto;
    margin-right:auto;
}

#header, #hero, #gallery, #footer{
    width: 750px;
}

#menu{
    background-color:#777;
    padding:20px;
}

#menu:hover{
    background-color:#000;
}


