/* #header, #hero, #gallery, #footer genişlikleri 750px olmalı */

/* #menu bir <nav> olmalı */
/* #menu içindeki linklerin arka plan rengi: #777 */
/* #menu linklerine hover yapıldığında arka plan rengi: #000 */
/* #menu linklerinin padding değeri: 20px */

/* #footer butonu metni 'Başa dön' olmalı */
*{
    margin:0px;
    padding:0px;
}
body{
    width:750px;
    margin-left:auto;
    margin-right:auto;
}

#header, #hero, #gallery, #footer{
    width: 750px;
}

#header{
    display:flex;
    justify-content:space-between;
    align-items: center;
}

#logo{
    font-weight:bold;
    font-size:25px;
}

#menu{
    background-color:#777;
    display:flex;
    
}
#menu a{
    padding:20px;
    background-color: #777;
}

#menu a:hover{
    background-color:#000;
}

#hero{
    height:360px;
    background-color: #777;
    display:flex;
    flex-direction:column;
    justify-content: center;
    align-items: center;
    color:white;
    margin: 10px 0px 40px 0px;
    
}

#gallery{
    display:flex;
    justify-content: space-between;
}
.photo{
    width:240;
    height: 180;
    background-color: #777;
    
}

#footer{
    height:80px;
    background-color: #777;
    display:flex;
    justify-content:center;
}


